.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(97, 97, 150);
  color: white;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Link {
  color: white;
}

.item-list {
  font-family: "Times New Roman", Times, serif;
  list-style: none;
  text-align: left;
}
